<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Gazebo 中加载 ros2_control 插件。
         第一份参数文件声明 controller 类型，第二份可选参数文件覆盖当前机器人专属的 urdfFile、taskFile、referenceFile。 -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find legged_controllers)/config/controllers.yaml</parameters>
            <xacro:if value="${'$(arg controller_params_file)' != ''}">
                <parameters>$(arg controller_params_file)</parameters>
            </xacro:if>
        </plugin>
    </gazebo>

</robot>
