<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lr_pro">
    <xacro:arg name="robot_type" default="lr_pro"/>
    <xacro:arg name="controller_params_file" default=""/>
    <xacro:arg name="hardware_plugin" default="lr_pro_hw/LrProHW"/>
    <xacro:arg name="power_limit" default="4"/>
    <xacro:arg name="contact_threshold" default="40"/>
    <xacro:arg name="delay" default="0.009"/>
    <xacro:arg name="enable_gazebo_control" default="false"/>

    <xacro:include filename="$(find lr_pro_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find lr_pro_description)/urdf/common/leg.xacro"/>
    <xacro:include filename="$(find lr_pro_description)/urdf/common/imu.xacro"/>
    <xacro:include filename="$(find lr_pro_description)/urdf/common/ros2_control.xacro"/>
    <xacro:include filename="$(find lr_pro_description)/urdf/common/gazebo.xacro"/>
    <xacro:include filename="$(find lr_pro_description)/urdf/lr_pro/const.xacro"/>

    <xacro:property name="mesh_path" value="file://$(find lr_pro_description)/meshes"/>

    <link name="base">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="${mesh_path}/base_link.STL"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}" rpy="0 0 0"/>
            <mass value="${trunk_mass}"/>
            <inertia
                    ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                    iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                    izz="${trunk_izz}"/>
        </inertial>
    </link>

    <xacro:IMU connected_to="base" imu_name="base_imu" xyz="${imu_x} ${imu_y} ${imu_z}" rpy="0 0 0"/>

    <xacro:lr_pro_leg prefix="LF" mesh_path="${mesh_path}" mesh_prefix="FL" front_hind="1" side="1"/>
    <xacro:lr_pro_leg prefix="LH" mesh_path="${mesh_path}" mesh_prefix="RL" front_hind="-1" side="1"/>
    <xacro:lr_pro_leg prefix="RF" mesh_path="${mesh_path}" mesh_prefix="FR" front_hind="1" side="-1"/>
    <xacro:lr_pro_leg prefix="RH" mesh_path="${mesh_path}" mesh_prefix="RR" front_hind="-1" side="-1"/>

    <xacro:lr_pro_ros2_control hardware_plugin="$(arg hardware_plugin)"
                                robot_type="$(arg robot_type)"
                                power_limit="$(arg power_limit)"
                                contact_threshold="$(arg contact_threshold)"
                                delay="$(arg delay)"/>
</robot>
