<robot name="lr_pro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="ROBOT" default="lr_pro" />
  <xacro:include filename="gazebo.xacro" />

  <!--  <?xml version="1.0" encoding="utf-8"?>-->
  <link
          name="base_link">
    <inertial>
      <origin
              xyz="0.0036196 0.0020766 0.014291"
              rpy="0 0 0" />
      <mass
              value="41.55318666" />
      <inertia
              ixx="0.36609753"
              ixy="-0.00244571"
              ixz="-0.06601466"
              iyy="1.65137460"
              iyz="0.00028196"
              izz="1.78840665" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/base_link.STL" /> -->
         <box size="0.4 0.2 0.15"/>
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <!-- <mesh filename="../meshes/base_link.STL" /> -->
         <box size="0.4 0.2 0.15"/>
      </geometry>
    </collision>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin rpy="0 0 0" xyz="33.4e-3 -17.2765e-3 51.0469e-3" />
  </joint>

  <link name="imu_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin rpy="0 0 0" xyz="0.46 0 0.02" />
  </joint>

  <link
          name="camera_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <joint name="livox_joint" type="fixed">
    <parent link="base_link" />
    <child link="livox_link" />
    <origin rpy="0 0 0" xyz="0 0 0.1" />
  </joint>

  <link
          name="livox_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <joint name="livox_joint_2" type="fixed">
    <parent link="base_link" />
    <child link="livox_link_2" />
    <origin rpy="0 0.2618 0" xyz="0.5 0 0.1" />
  </joint>

  <link
          name="livox_link_2">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>





  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin rpy="3.14 0.349 0" xyz="0.5 0 -0.033" />
  </joint>

  <link
          name="lidar_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <joint name="lidar2_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar2_link" />
    <origin rpy="3.14 0.1745 3.14 " xyz="-0.535 0 -0.033" />
  </joint>

  <link
          name="lidar2_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <joint name="lidar3_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar3_link" />
    <origin rpy="0 1.57 0" xyz="-0.25 0 -0.1" />
  </joint>

  <link
          name="lidar3_link">
    <inertial>
      <mass value="0.001" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size=".001 .001 .001" />
      </geometry>
    </collision>
  </link>

  <link
          name="FL_hip">
    <inertial>
      <origin
              xyz="0.059894 0.012203 -2.491E-05"
              rpy="0 0 0" />
      <mass
              value="3.14861814" />
      <inertia
              ixx="0.00150762"
              ixy="0.00003652"
              ixz="0.00000078"
              iyy="0.00308821"
              iyz="-0.00000116"
              izz="0.00282044" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_hip.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FL_hip_joint"
          type="revolute">
    <origin
            xyz="0.259 0.072 0"
            rpy="0 0 0" />
    <parent
            link="base_link" />
    <child
            link="FL_hip" />
    <axis
            xyz="1 0 0" />
    <limit lower="-0.698" upper="0.698" effort="350" velocity="15" />
  </joint>
  <link
          name="FL_thigh">
    <inertial>
      <origin
              xyz="-0.0095977 0.11103 -0.088387"
              rpy="0 0 0" />
      <mass
              value="4.62267861" />
      <inertia
              ixx="0.05234465"
              ixy="0.00083785"
              ixz="-0.00317648"
              iyy="0.04965056"
              iyz="0.00756963"
              izz="0.00794928" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_thigh.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FL_thigh_joint"
          type="revolute">
    <origin
            xyz="0.089 0.0395 0"
            rpy="0 0 0" />
    <parent
            link="FL_hip" />
    <child
            link="FL_thigh" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.840" upper="2.840" effort="350" velocity="15" />
  </joint>
  <link
          name="FL_calf">
    <inertial>
      <origin
              xyz="0.02051 8.2897E-06 -0.17043"
              rpy="0 0 0" />
      <mass
              value="0.65025" />
      <inertia
              ixx="0.01003897"
              ixy="0.00000002"
              ixz="0.00071564"
              iyy="0.01022625"
              iyz="-0.00000074"
              izz="0.00032368" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_calf.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FL_calf_joint"
          type="revolute">
    <origin
            xyz="0 0.1323 -0.35"
            rpy="0 0 0" />
    <parent
            link="FL_thigh" />
    <child
            link="FL_calf" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.76634" upper="-0.68067" effort="350" velocity="15" />
  </joint>
  <link
          name="FL_foot">
    <inertial>
      <origin
              xyz="-0.0068215 5.1068E-08 -0.0064099"
              rpy="0 0 0" />
      <mass
              value="0.17599" />
      <inertia
              ixx="0.00011789"
              ixy="0.00000000"
              ixz="0.00002693"
              iyy="0.00011149"
              iyz="0.00000000"
              izz="0.00011428" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FL_foot.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.042"/>
      </geometry>
    </collision>
  </link>
  <joint
          name="FL_foot_fixed"
          type="fixed"
          dont_collapse="true">
    <origin
            xyz="0 0 -0.35"
            rpy="0 0 0" />
    <parent
            link="FL_calf" />
    <child
            link="FL_foot" />
    <axis
            xyz="0 0 0" />
  </joint>
  <link
          name="FR_hip">
    <inertial>
      <origin
              xyz="0.059894 -0.012203 2.491E-05"
              rpy="0 0 0" />
      <mass
              value="3.14861814" />
      <inertia
              ixx="0.00150762"
              ixy="-0.00003652"
              ixz="-0.00000078"
              iyy="0.00308821"
              iyz="-0.00000116"
              izz="0.00282044" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_hip.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FR_hip_joint"
          type="revolute">
    <origin
            xyz="0.259 -0.072 0"
            rpy="0 0 0" />
    <parent
            link="base_link" />
    <child
            link="FR_hip" />
    <axis
            xyz="1 0 0" />
    <limit lower="-0.698" upper="0.698" effort="350" velocity="15" />
  </joint>
  <link
          name="FR_thigh">
    <inertial>
      <origin
              xyz="-0.0090894 -0.11083 -0.086114"
              rpy="0 0 0" />
      <mass
              value="4.62267861" />
      <inertia
              ixx="0.05234465"
              ixy="-0.00083785"
              ixz="-0.00317648"
              iyy="0.04965056"
              iyz="-0.00756963"
              izz="0.00794928"/>
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_thigh.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FR_thigh_joint"
          type="revolute">
    <origin
            xyz="0.089 -0.0395 0"
            rpy="0 0 0" />
    <parent
            link="FR_hip" />
    <child
            link="FR_thigh" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.840" upper="2.840" effort="350" velocity="15" />
  </joint>
  <link
          name="FR_calf">
    <inertial>
      <origin
              xyz="0.02051 8.2897E-06 -0.17043"
              rpy="0 0 0" />
      <mass
              value="0.65024748" />
      <inertia
              ixx="0.01003897"
              ixy="0.00000002"
              ixz="0.00071564"
              iyy="0.01022625"
              iyz="-0.00000074"
              izz="0.00032368" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_calf.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="FR_calf_joint"
          type="revolute">
    <origin
            xyz="0 -0.1323 -0.35"
            rpy="0 0 0" />
    <parent
            link="FR_thigh" />
    <child
            link="FR_calf" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.76634" upper="-0.68067" effort="350" velocity="15" />
  </joint>
  <link
          name="FR_foot">
    <inertial>
      <origin
              xyz="-0.0068215 5.1068E-08 -0.0064099"
              rpy="0 0 0" />
      <mass
              value="0.17599179" />
      <inertia
              ixx="0.00011789"
              ixy="0.00000000"
              ixz="0.00002693"
              iyy="0.00011149"
              iyz="0.00000000"
              izz="0.00011428" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/FR_foot.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.042"/>
      </geometry>
    </collision>
  </link>
  <joint
          name="FR_foot_fixed"
          type="fixed"
          dont_collapse="true">
    <origin
            xyz="0 0 -0.35"
            rpy="0 0 0" />
    <parent
            link="FR_calf" />
    <child
            link="FR_foot" />
    <axis
            xyz="0 0 0" />
  </joint>
  <link
          name="RL_hip">
    <inertial>
      <origin
              xyz="-0.059894 0.012203 2.491E-05"
              rpy="0 0 0" />
      <mass
              value="3.14861814" />
      <inertia
              ixx="0.00150762"
              ixy="-0.00003652"
              ixz="0.00000078"
              iyy="0.00308821"
              iyz="0.00000116"
              izz="0.00282044" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_hip.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RL_hip_joint"
          type="revolute">
    <origin
            xyz="-0.259 0.072 0"
            rpy="0 0 0" />
    <parent
            link="base_link" />
    <child
            link="RL_hip" />
    <axis
            xyz="1 0 0" />
    <limit lower="-0.698" upper="0.698" effort="350" velocity="15" />
  </joint>
  <link
          name="RL_thigh">
    <inertial>
      <origin
              xyz="-0.0095977 0.11103 -0.088387"
              rpy="0 0 0" />
      <mass
              value="4.62267861" />
      <inertia
              ixx="0.05234465"
              ixy="0.00083785"
              ixz="-0.00317648"
              iyy="0.04965056"
              iyz="0.00756963"
              izz="0.00794928" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_thigh.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RL_thigh_joint"
          type="revolute">
    <origin
            xyz="-0.089 0.0395 0"
            rpy="0 0 0" />
    <parent
            link="RL_hip" />
    <child
            link="RL_thigh" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.840" upper="2.840" effort="350" velocity="15" />
  </joint>
  <link
          name="RL_calf">
    <inertial>
      <origin
              xyz="0.02051 8.2897E-06 -0.17043"
              rpy="0 0 0" />
      <mass
              value="0.65024748" />
      <inertia
              ixx="0.01003897"
              ixy="0.00000002"
              ixz="0.00071564"
              iyy="0.01022625"
              iyz="-0.00000074"
              izz="0.00032368" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_calf.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RL_calf_joint"
          type="revolute">
    <origin
            xyz="0 0.1323 -0.35"
            rpy="0 0 0" />
    <parent
            link="RL_thigh" />
    <child
            link="RL_calf" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.76634" upper="-0.68067" effort="350" velocity="15" />
  </joint>
  <link
          name="RL_foot">
    <inertial>
      <origin
              xyz="-0.0068215 5.1068E-08 -0.0064099"
              rpy="0 0 0" />
      <mass
              value="0.17599179" />
      <inertia
              ixx="0.00011789"
              ixy="0.00000000"
              ixz="0.00002693"
              iyy="0.00011149"
              iyz="0.00000000"
              izz="0.00011428" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RL_foot.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.042"/>
      </geometry>
    </collision>
  </link>
  <joint
          name="RL_foot_fixed"
          type="fixed"
          dont_collapse="true">
    <origin
            xyz="0 0 -0.35"
            rpy="0 0 0" />
    <parent
            link="RL_calf" />
    <child
            link="RL_foot" />
    <axis
            xyz="0 0 0" />
  </joint>
  <link
          name="RR_hip">
    <inertial>
      <origin
              xyz="-0.059894 -0.012203 -2.491E-05"
              rpy="0 0 0" />
      <mass
              value="3.14861814" />
      <inertia
              ixx="0.00150762"
              ixy="0.00003652"
              ixz="-0.00000078"
              iyy="0.00308821"
              iyz="0.00000116"
              izz="0.00282044" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_hip.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RR_hip_joint"
          type="revolute">
    <origin
            xyz="-0.259 -0.072 0"
            rpy="0 0 0" />
    <parent
            link="base_link" />
    <child
            link="RR_hip" />
    <axis
            xyz="1 0 0" />
    <limit lower="-0.698" upper="0.698" effort="350" velocity="15" />
  </joint>
  <link
          name="RR_thigh">
    <inertial>
      <origin
              xyz="-0.0090894 -0.11083 -0.086114"
              rpy="0 0 0" />
      <mass
              value="4.62267861" />
      <inertia
              ixx="0.05234465"
              ixy="-0.00083785"
              ixz="-0.00317648"
              iyy="0.04965056"
              iyz="-0.00756963"
              izz="0.00794928" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_thigh.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RR_thigh_joint"
          type="revolute">
    <origin
            xyz="-0.089 -0.0395 0"
            rpy="0 0 0" />
    <parent
            link="RR_hip" />
    <child
            link="RR_thigh" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.840" upper="2.840" effort="350" velocity="15" />
  </joint>
  <link
          name="RR_calf">
    <inertial>
      <origin
              xyz="0.02051 8.2897E-06 -0.17043"
              rpy="0 0 0" />
      <mass
              value="0.65024748" />
      <inertia
              ixx="0.01003897"
              ixy="0.00000002"
              ixz="0.00071564"
              iyy="0.01022625"
              iyz="-0.00000074"
              izz="0.00032368" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_calf.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
          name="RR_calf_joint"
          type="revolute">
    <origin
            xyz="0 -0.1323 -0.35"
            rpy="0 0 0" />
    <parent
            link="RR_thigh" />
    <child
            link="RR_calf" />
    <axis
            xyz="0 1 0" />
    <limit lower="-2.76634" upper="-0.68067" effort="350" velocity="15" />
  </joint>
  <link
          name="RR_foot">
    <inertial>
      <origin
              xyz="-0.0068215 5.1068E-08 -0.0064099"
              rpy="0 0 0" />
      <mass
              value="0.17599179" />
      <inertia
              ixx="0.00011789"
              ixy="0.00000000"
              ixz="0.00002693"
              iyy="0.00011149"
              iyz="0.00000000"
              izz="0.00011428" />
    </inertial>
    <visual>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <mesh
                filename="file://$(find lr_pro_description)/meshs_simpilfy/RR_foot.STL" />
      </geometry>
      <material
              name="">
        <color
                rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
              xyz="0 0 0"
              rpy="0 0 0" />
      <geometry>
        <sphere radius="0.042"/>
      </geometry>
    </collision>
  </link>
  <joint
          name="RR_foot_fixed"
          type="fixed"
          dont_collapse="true">
    <origin
            xyz="0 0 -0.35"
            rpy="0 0 0" />
    <parent
            link="RR_calf" />
    <child
            link="RR_foot" />
    <axis
            xyz="0 0 0" />
  </joint>
<!--  <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>-->

<!--  <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10">-->
<!--    <origin rpy="0 0 0 " xyz="0 0 0.5"/>-->
<!--  </xacro:realsense_d435>-->
</robot>
